<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    {% load static %}
     
    <link rel="icon"
      type="image/x-icon"
      href="{% static 'images/favicon.ico' %}">
      
    <title>Login</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="min-h-screen bg-black text-white overflow-hidden">
    <!-- Background Effects -->

    <div class="absolute inset-0">
      <div class="absolute top-20 left-20 w-72 h-72 bg-cyan-500/20 blur-[120px] rounded-full"></div>

      <div class="absolute bottom-20 right-20 w-72 h-72 bg-purple-500/20 blur-[120px] rounded-full"></div>
    </div>

    <div class="relative flex justify-center items-center min-h-screen">
      <div class="w-full max-w-md bg-gray-900/70 backdrop-blur-xl border border-cyan-500/20 rounded-3xl p-10">
        <h1 class="text-4xl font-black text-center mb-2 bg-gradient-to-r from-cyan-400 to-purple-500 text-transparent bg-clip-text">Login</h1>

        <p class="text-gray-400 text-center mb-8">Access your CampusCoder AI account</p>

        <form method="POST">
          {% csrf_token %}

          <input type="text" name="username" placeholder="Username" class="w-full p-4 mb-5 bg-black rounded-xl border border-cyan-500/30" />

          <input type="password" name="password" placeholder="Password" class="w-full p-4 mb-6 bg-black rounded-xl border border-cyan-500/30" />

          <button class="w-full px-8 py-3 font-bold text-white uppercase tracking-wide bg-gradient-to-r from-fuchsia-600 to-purple-700 border-2 border-fuchsia-400 rounded-md shadow-[0_0_15px_rgba(217,70,239,0.8)] hover:scale-105 hover:shadow-[0_0_25px_rgba(217,70,239,1)] transition duration-300">Login</button>
        </form>

        <div class="text-center mt-6">
          <p class="text-gray-400">
            Don't have an account?

            <a href="{% url 'register' %}" class="text-purple-400 font-bold hover:text-fuchsia-300 transition drop-shadow-[0_0_10px_rgba(168,85,247,0.8)]">Create Account</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
